<div class="row">
    {{ if .Site.Params.footer_menus }}
        {{ .Scratch.Set "linksCols" (add 2 (mul 2 (len .Site.Params.footer_menus) )) }}
    {{ else }}
        {{ .Scratch.Set "linksCols" 0 }}
    {{ end }}

    {{ $linksCols := .Scratch.Get "linksCols" }}
    {{ $contentCols := (sub 12 $linksCols) }}
    <div class="col s12 l{{ $contentCols }}">
        {{ partial "footer-content" . }}
    </div>

    {{ if .Site.Params.footer_menus }}
        <div class="col s12 l{{ sub $linksCols 2 }} offset-l2">
            <div class="row">
                {{ $menus := .Site.Menus }}
                {{ $colWidth := math.Floor (div 12 (len .Site.Params.footer_menus)) }}
                {{ range $index, $menu := .Site.Params.footer_menus }}
                    <div class="col s{{ $colWidth }} clear-padding">
                        {{ partial "menu-links" (dict "menu" (index $menus $menu.menu) "name" $menu.name ) }}
                    </div>
                {{ end }}
            </div>
        </div>
    {{ end }}
</div>

