{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<ul class="pagination center-align">
    <li class="{{ if not $pag.HasPrev }}disabled{{ else }}waves-effect{{ end }}">
        <a {{ if $pag.HasPrev }}href="{{ $pag.Prev.URL }}"{{ end }} aria-label="Previous"><i class="material-icons">chevron_left</i></a>
    </li>
    {{ $.Scratch.Set "__paginator.ellipsed" false }}
    {{ range $pag.Pagers }}
        {{ $right := sub .TotalPages .PageNumber }}
        {{ $showNumber := or (le .PageNumber 3) (eq $right 0) }}
        {{ $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2)))  }}
        {{ if $showNumber }}
            {{ $.Scratch.Set "__paginator.ellipsed" false }}
            {{ $.Scratch.Set "__paginator.shouldEllipse" false }}
        {{ else }}
            {{ $.Scratch.Set "__paginator.shouldEllipse" (not ($.Scratch.Get "__paginator.ellipsed") ) }}
            {{ $.Scratch.Set "__paginator.ellipsed" true }}
        {{ end }}
        {{ if $showNumber }}
            <li class="waves-effect {{ if eq . $pag }}active grey darken-4 {{ end }}">
                <a href="{{ .URL }}">{{ .PageNumber }}</a>
            </li>
        {{ else if ($.Scratch.Get "__paginator.shouldEllipse") }}
            <li class="waves-effect disabled">
                <a aria-hidden="true">&hellip;</a>
            </li>
        {{ end }}
    {{ end }}
    <li class="{{ if not $pag.HasNext }}disabled{{ else}}waves-effect{{ end }}">
        <a {{ if $pag.HasNext }}href="{{ $pag.Next.URL }}"{{ end }} aria-label="Next"><i class="material-icons">chevron_right</i></a>
    </li>
</ul>
{{ end }}