<article class="max-width">
    <!-- Title -->
    <section class="row">
        <div class="col s12 m10 offset-m1 l10 offset-l1">
            <h1>{{ .Title }}</h1>
        </div>
    </section>

    <!-- Figure -->
    {{ with .Params.cover_image }}
    <div class="row">
        <div class="col s12 m12 l10 offset-l1">
            <div class="article-image" style="background-image: url('{{ . | absURL }}');"></div>
        </div>
    </div>
    {{ end }}

    <!-- Content -->
    <section class="row">
        <div class="col s12 m8 offset-m2 l2 offset-l1">
            {{ partial "article-meta" . }}
        </div>
        <div class="col s12 m8 offset-m2 l6">
            {{ .Content }}
        </div>
    </section>
</article>